
body {
    background: #222222;
    text-align: center;
}
div {
    text-align: center;
}
.titulo-index {
      color: rgb(224, 151, 163); 
}

span {
    color: rgb(77, 138, 192);
    text-decoration-line: underline;    
}