
.body {
    margin: 0 auto;
    background-color: white;
    padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
 font-weight: normal;
 margin: 0;
 padding: 0;
}
ol {
    margin: 0;
    padding: 0;
    list-style-type: none;
}
.header{
   background:#303F9F;
   height: 70px;
  
}
.header div{
    display: flex;
    align-items: center;
    height: inherit;
}
.header nav{
    display: flex;
    justify-content: flex-end;
    height: inherit;
} 

.header ol {
    display: flex;
    justify-content: space-between;
    height: inherit;
}
.header h1 {
    color: white;
    font-family: 'Ubuntu', sans-serif;
    font-size: xx-large;
    font-weight: bold;
    padding-inline-end: 5px;  
}

.header li {
    height: inherit;
    padding-right: 10px;
}
.header li {
    height: inherit;
}
.header a {
    display: flex;
    align-items: center;
    height: inherit;
    font-family: 'Roboto' , sans-serif;
    padding: 0 10px;
    
}
.link {
    font-family: 'Roboto', sans-serif;
    color: white;
    text-decoration: none;
    font-size: small;
    font-size: medium;
}
.link-name {
    font-family: 'Roboto', sans-serif;
    color: white;
    text-decoration: none;
    font-size: xx-large;
    height: inherit;
}
.name-flex {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: inherit;
}

.hero {
    margin-bottom: 10px;
    padding-top: 20px;
    padding-left: 20px;
    height: 300px;
    background: #303F9F;
}

.hero h1 {
    color: white;
    font-family: 'Ubuntu', sans-serif;
    font-size: xx-large;
    font-weight: bold;
}

.hero h2{
    margin-left: 40px;
    font-family: 'Roboto' , sans-serif;
    font-weight: bold;
    font-size: xx-large;
    font-style: italic;
    text-align: center;
    color: whitesmoke;
}
.project {
    margin: 0;
    padding: 20px 30px 20px 30px;
}


.project-container{
    margin: 15px 10px 10px 15px;
    border: 1px solid #EAEAE2;
    border-radius: 5px;
    padding-top: 15px;  
    padding-left: 15px;  
    padding-bottom: 15px; 
    background: white;  
}

.project-container h3{
   font-family: 'Roboto', sans-serif;
   font-weight: bold;
   font-size: x-large;
   color: #212121;
}

.project-container h6{
    font-family: 'Roboto', sans-serif;
    font-size: large;
    color: #212121;
}

.project-container p{
    font-family: 'Roboto', sans-serif;
    font-size: medium;
    color: #212121;
}

.contact { 
    height: 120px;
    margin: 0;
    border: 0;
    padding-top: 15px;  
    padding-left: 15px;  
    background: #303F9F;  
    display: flex;
    align-items: center;
}
.contact  button{
    border: 0;
    border-radius: 3px;
    padding: 5px 15px 5px 15px;
    margin: 5px;
    margin-left: 10px;
    background: white;
    font-family: 'Roboto', sans-serif;
    color: #303F9F;
    font-size: small;
}

.contact  input{
    padding: 5px;
    padding-left: 10px;
    width: 250px;
    font-family: 'Roboto', sans-serif;
    font-size: small;
    color: gray;
    border:0;
    border-radius: 2px;
}

.contact h3{
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-size: large;
    color: white;
 }

.container {
    background: #F0F0E8;
    margin: 0;
    display: inherit;
    justify-content: inherit;
    align-items: inherit;
    height: inherit;
    flex-wrap: inherit;
}

.footer {
    background-color: inherit;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-size: small;
    color: white;
    margin: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
p strong{
    font-weight: bold;
}


.image-pallete {
   display: flex;
   height: 300px;
   flex-wrap: wrap;
   align-items: center;
   justify-content: center;
}

.image-languanje {
    margin:5px;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    -o-border-radius: 50%;
}

.aling-self-c {
    align-self: center;
}

.aling-self-s {
    align-self: flex-start;
}

.aling-self-e {
    align-self: flex-end;
}

